/*****************************************
*
* Developer: Trent Teebken
*  
* Base: #F9DDD3
* Accent: #CEE0BD
* Dark Grey: #55504f
* Light Grey: #fcfbfb
*
*
******************************************/





/**** Header ***/

body {
	margin: 0;
	padding: 0;
}
h1.section-header {
    font-family: 'Euphoria Script', cursive;
	color: black;
	font-size: 35px;
}	
.hero-text h1 {
	margin-bottom: 0;
	font-size: 60px; 
}
.bride-groom-section h1 {
	font-family: 'Euphoria Script', cursive;
}
h3.parties-name {
	font-family: 'Euphoria Script', cursive;
	font-size: 30px;
}
h4.section-subheader {
	font-style: italic;
	font-size: 15px;
}
.wedding-party {
	padding: 60px 0;
}
.bridesmade {
	border-right:1px solid #bbb;
}
p.brides-grooms-text {
	font-size: 12px;
}
.card-title {
	font-family: 'Euphoria Script', cursive;
	font-size: 35px;
}

.container {
	display: block;
	width:960px;
	margin: 0 auto;
}
#countdown{
	font-size: 30px;
	position: relative;
	top: -25px;
	padding: 0 25px;
	text-align: center;
}
.hero-section {
	background: url('images/riviera-mansion.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	height: 500px;
	width: 100%;
}
.hero-section:after {
	background: rgba(0,0,0,0.6);
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left: 0;
}
.hero-text {
	background: rgba(249, 221, 211, 0.7);
    /*background: rgba(0, 0, 0, 0.4);*/
    font-family: 'Euphoria Script', cursive;
    color: black;
    font-size: 50px;
    position: relative;
    top: 26%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 550px;
}
.hero-text img {
	display: block;
	width: 90%;
	margin:15px auto;
}
.timeWrap {
	display: inline-block;
	vertical-align: top;
	background: #F9DDD3;
	color: black;
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.container .timeWrap:first-child {
	width:100px;
	margin: 0;
}
.proposal-section {
	/*background: url('http://placehold.it/1500x350');
	background-size: contain;*/
	background: #F9DDD3;
	padding: 60px 0;
}

.bride-groom-section {
	padding: 50px 0;
}
.Proposal-text {
	color: black;
}
#map {
	width: 100%;
	height: 400px;
	position: relative;
	z-index: 5;
}
.map-section {
	position: relative;
	border-top: 2px solid white;
}
.map-legend {
	background: rgba(85, 80, 79, 0.8);
	position: absolute !important;
	height: 100%;
	z-index: 9;
}
.wedding-image-section {
	padding: 50px 0;
	border-top: 3px solid white;
}
.address-header {
	font-family: 'Euphoria Script', cursive;
	color: #F9DDD3;
	font-size: 35px;
}
.map-legend address {
    color: white;
    font-size: 20px;
    margin: 130px auto 0;
}
.santa-barbara-section {
	background: #F9DDD3;
	height: 320px;
	padding:50px 0;
}