/*****************************************
*
* Developer: Trent Teebken
*  
* Base: #F9DDD3
* Accent: #CEE0BD
* Dark Grey: #55504f
* Light Grey: #fcfbfb
*
*
******************************************/



body {
	font-family: 'EB Garamond', serif !important;
	margin: 0;
	padding: 0;
}

/**** Hover states ****/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #F9DDD3 !important;
}


/**** Headers ****/


.welcome h1 {
    font-family: 'Euphoria Script', cursive;
}
h1.section-header {
    font-family: 'Euphoria Script', cursive;
	color: black;
	font-size: 35px;
}	
.hero-text h1 {
	margin-bottom: 0;
	font-size: 60px; 
}


.santa-barbara-section h1 {
	font-family: 'Euphoria Script', cursive;
}

.santa-barbara-section h3 {
	font-family: 'EB Garamond', serif;
}
h3.parties-name {
	font-family: 'Euphoria Script', cursive;
	font-size: 30px;
}
h4.section-subheader {
	font-style: italic;
	font-size: 15px;
}
.wedding-party h1 {
	font-family: 'Euphoria Script', cursive;

}
footer h1 {

	font-family: 'Euphoria Script', cursive;
}
/*** Navigation ***/


.navbar-toggler i {
	color: white;
	font-size: 30px;
}
.navbar-light .navbar-toggler {
	border-color: white !important;
}
nav .navbar-toggler-right {
	right: 0 !important;
}
.nav-container {
	background: rgba(85, 80, 79, 0.6);
}
.faded-dark-bg {
}
.navbar-light .navbar-nav .nav-item .nav-link {
	color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
	color: #F9DDD3 !important;
}
footer a {
	color: white;
	text-decoration: underline;
}
footer a:hover {
	color: #F9DDD3;
}


.wedding-party {
	padding: 60px 0;
}
.bridesmade {
	border-right:1px solid #bbb;
}
p.brides-grooms-text {
	font-size: 12px;
}
.card-title {
	font-family: 'Euphoria Script', cursive;
	font-size: 35px;
}

.container {
	width: 100%;
}
.countdown-container {
	/*background: #F9DDD3;*/
}
#countdown{
	font-size: 30px;
}
.hero-section {
	background: url('images/riviera-mansion.jpg');
	background-position: bottom;
	background-size: cover;
	position: relative;
	height: 500px;
	width: 100%;
}
.hero-section:after {
	background: rgba(0,0,0,0.6);
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left: 0;
}
.hero-text {
	background: rgba(249, 221, 211, 0.7);
    /*background: rgba(0, 0, 0, 0.4);*/
    font-family: 'Euphoria Script', cursive;
    color: black;
    font-size: 50px;
    position: relative;
    top: 26%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 550px;
}
.hero-text img {
	display: block;
	width: 90%;
	margin:15px auto;
}
.timeWrap {
	display: inline-block;
	vertical-align: top;
	color: black;
	font-size: 35px;
	line-height: 40px;
	text-align: center;
}
.time-inc {
	font-size: 15px;
}
.container .timeWrap:first-child {

}
.welcome {
	position: relative;
}
.proposal-section {
	background: #F9DDD3;
	padding: 60px 0;
}

.welcome:before {
	background: url("images/floral.png");
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 244px;
	height: 175px;
	z-index: 5;
}

.Proposal-text {
	color: black;
}
#map {
	width: 100%;
	height: 400px;
	position: relative;
	z-index: 5;
}
.map-section {
	position: relative;
	border-top: 2px solid white;
}
.map-legend {
	background: rgba(85, 80, 79, 0.8);
	position: absolute !important;
	height: 100%;
	z-index: 9;
}
.map-legend address {
    color: white;
    font-size: 20px;
    margin: 0;
}
.map-legend small {
	color: white;	
	font-size: 15px;
}
.wedding-image-section {
	padding: 50px 0;
	border-top: 3px solid white;
}
.info-header {
	font-family: 'Euphoria Script', cursive;
	color: #F9DDD3;
	font-size: 35px;
}
.info-text {
	font-family: 'EB Garamond', serif !important;
	color: white;
	font-size: 25px;
}
.santa-barbara-section {
	background: #F9DDD3;
	padding:50px 0;
}
.santa-barbara-section .card-title {
	font-size: 19px;
	height: 45px;
}
.santa-barbara-section .card-block {
	min-height: 195px;
}
footer {
	background: #55504f;
	color: white;
}
.more-hotels {
	font-size: 20px;
}

.registry {
	background: white;
	position: relative;
}
.registry:before {
	background: url("images/floral_small.png");
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

@media (max-width:991px) {
	.bridesmade {
		border-right: 0;
	}
	.santa-barbara-section .card-title {
    	font-size: 20px;
	}
	.welcome:before,
	.registry:before {
		display: none;
	}
	.hero-text {
		width: 310px;
	}
	.hero-text h1 {
		font-size: 40px;
	}
	.hero-section {
		height: 370px;
	}
	.map-legend {
		position: relative !important;
	}
	.navbar {
		min-height: 57px;
	}
}